html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  margin: 0px !important;
}

.heading {
  /* background-color: red; */
  font-family: "Open Sans", sans-serif, "google";
  font-size: 38px;
  font-weight: 100;
  font-style: normal;
}
.home-header {
  display: flex;
  flex-direction: column;
  height: 40rem;
  animation: backgroundAni 10s infinite alternate;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 100;
}

@keyframes backgroundAni {
  0% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/if4b8e310c9186762/version/1475314443/image.jpg);
    opacity: 8;
  }
  25% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/ic500d6468ab5dbb3/version/1475314444/image.jpg);
    opacity: 9;
  }

  50% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/i2eaa02dad2b68d17/version/1475314445/image.jpg);
    opacity: 8;
  }
  75% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/i2bedd7a880b5eabe/version/1475314445/image.jpg);
    opacity: 9;
  }

  100% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/if4b8e310c9186762/version/1475314443/image.jpg);
    opacity: 8;
  }
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 9999;
  flex-direction: row;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  justify-content: space-between;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 10px 0 rgba(0, 0, 0, 0.08); */
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-height: 110px;
  padding: 0.8rem 2rem 0.8rem;
  margin-left: 17rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 3rem 15rem 0px 0px;
}

nav ul li {
  padding: 7px 10px;
}

nav ul li :hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.banner {
  display: flex;
  margin-top: 20rem;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.r-btn {
  width: 8rem;
  padding: 10px;
  font-size: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
}

.r-btn:hover {
  /* transition: all 2s ease-out;
  transform: scale(1.15); */
  color: rgb(54, 53, 53);
  background-color: white;
}

.banner > h1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif, "google";
}

.banner > h4 {
  font-size: 1.5em;
}

main {
  line-height: 1.7em;
}

.one {
  margin-top: 25rem;
  display: flex;
  padding: 0px 20rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-one-text > img {
  padding: 8rem 3rem;
}

.sub-sec {
  display: flex;
  text-align: start;
  word-wrap: break-word;
  padding-left: 2.5rem;
  flex-direction: column;
}

.sub-div {
  display: flex;
  padding: 0px 0rem;
}

.sub-line {
  width: 10px;
  height: 8rem;
  margin-right: 3rem;
  background: linear-gradient(to bottom, #8781bd 0, #46aed7 100%);
}

.vert-line {
  width: 10px;
  height: 8rem;
  margin-top: 1.1rem;
  margin-right: 3rem;
  background: linear-gradient(to bottom, #8781bd 0, #46aed7 100%);
}

.icon-btn {
  /* color: #8781bd; */
  color: #0d557d;
  font-size: 11px;
  text-decoration: none;
}

.sub-sec-robot {
  display: flex;
  margin: 15rem 2rem 3rem 5rem;
}

.robot-text {
  word-wrap: break-word;
  margin: 1rem 8rem 8rem 4rem;
  text-align: start;
}

.sub-sec-robot > .robot > .heading {
  text-align: start;
  margin: 2rem 0px 0px 4rem;
}

.icon-div {
  display: flex;
}

.icon {
  width: 14rem;
  padding: 10px;
  margin-left: 3rem;
  text-align: center;
  justify-content: space-between;
}

.icon > a {
  display: inline-block;
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  color: #8781bd;
}

.two {
  display: flex;
  width: 100%;
  color: white;
  height: 30rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/ibbb5eed4c2fce728/version/1475333374/image.jpg);
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin: 8rem 0px;
}

.three-text {
  width: 33%;
  /* height: 20vh; */
  /* background-color: red; */
}

.three > .img {
  width: 33%;
  display: flex;
  flex-direction: row;
  /* height: 30vh; */
  /* background-color: green; */
}

.facebook {
  margin-left: 2rem;
  /* background-color: red; */
}

.twitter {
  position: absolute;
  margin-top: 6.5rem;
  right: 35rem;
  /* margin-right: 4rem; */
  /* padding: right 3rem; */
}

.google {
  position: absolute;
  right: 25rem;
  margin-top: 2rem;
  /* padding-right: 10rem; */
}

.linkedin {
  position: absolute;
  right: 16rem;
}

.vert-sub {
  display: flex;
  flex-direction: row;
}

.vert-sub > .vert-line {
  width: 6px;
  height: 55px;
}

.vert-sub > p {
  color: #949494;
  font-size: 14px;
  margin-right: 3rem;
}

aside {
  /* display: flex; */
  width: 100%;
  height: 32rem;
  color: rgba(255, 255, 255, 0.318);
  background: linear-gradient(to bottom, #6a5c95 0, #397ca5 100%);
}

.aside.sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-image > div > img {
  display: inline;
  max-width: 100%;
  margin-top: -50px;
  vertical-align: top;
}

.aside-text {
  display: flex;
  /* justify-content: center; */
  text-align: start;
  margin-left: 8rem;
  font-size: 13px;
  font-family: "Merriweather Sans", sans-serif, "google";
  font-size: 13px;
  line-height: 1.75em;
}

.headquaters,
.contact,
.quicklinks {
  /* width: 15rem; */
  margin: 1.5rem;
  /* background-color: red; */
}

.headquaters {
  margin-bottom: 0;
}

.contact > p > a,
.quicklinks > p > a {
  color: rgba(255, 255, 255, 0.318);
  text-decoration: none;
}

hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.318);
}

.linkin-share > a {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: relative;
  margin: 4.8px;
  border-radius: 10px;
  text-decoration: none !important;
  background-color: whitesmoke;
}

.copy {
  display: flex;
  font-size: 13px;
  margin-left: 20rem;
  margin-top: 8rem;
}

.powered {
  margin-left: 35rem;
}

footer {
  display: block;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin-bottom: 0px;
  position: relative;
  /* padding: 2rem 25px; */
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.1);
}

figure {
  overflow: hidden;
  max-height: 65px;
}

.scrolled {
  background-color: white;
  padding-bottom: 1.1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.image-style {
  position: absolute;
  overflow: visible;
  display: flex;
  bottom: 23px;
  justify-content: center;
  align-items: center;
}

/* Who are We Styles */
.who-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 42rem;
  background-image: linear-gradient(
    135deg,
    #3a7ca5 0,
    #6a5d95 68%,
    #6a5d95 100%
  );
}

.who-ban {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17rem 20rem;
}

.who-text {
  line-height: 1.5em;
}

.who-text > h1 > hr {
  width: 2.5rem;
  height: 3px;
  margin-right: 30rem;
  background-color: white;
}

.who-ban > .ban-img > img {
  width: 30rem;
  margin-top: -2rem;
  /* filter: grayscale(100%); */
}

.services-two > .statements > div > h2 > span {
  color: purple;
  margin-right: 1.5rem;
}

.statements > div > h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 38px;
  color: #28303a;
  /* background-color: red; */
}

.services-two {
  margin-top: 22rem;
  display: flex;
  flex-direction: column;
}

.statements {
  margin-left: 20rem;
  /* padding-right: 30rem; */
}

.statements > .div {
  margin-top: 5rem;
}

.intro-p {
  margin-left: 24rem;
}

.services-two > .statements > div > p {
  white-space: pre-line;
  margin-left: 4rem;
}

.ser-sub-img {
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
  margin-top: 3rem;
}

.ser-sub-img > .service-icon > img {
  width: 2.8rem;
  height: 2.5rem;
}

.service-icon {
  display: flex;
}

.service-icon > div {
  margin-left: 2rem;
  padding-right: 25rem;
}

.ser-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    #3a7ca5 0,
    #6a5d95 68%,
    #6a5d95 100%
  );
}

.ser-three > .directors-info {
  padding: 3rem;
}

.dir-text {
  margin-top: 7rem;
  text-align: center;
  line-height: 5px;
}

.services-four {
  padding: 3rem;
}

.services-four > h2 {
  margin-top: 10rem;
  text-align: center;
}

.ser-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complist-one {
  display: flex;
  padding: 0px 15rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.complist-one > div {
  width: 31.99%;
  margin: 2rem;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 13px;
}

.complist-one > div > img {
  width: 100%;
  filter: grayscale(100%);
}

.complist-one > div > img:hover {
  filter: none;
}

.services-four > .ser-four > .complist-one > div > .first,
.last {
  margin-bottom: 6.3rem;
}

.four-hr {
  height: 2px;
  background-color: rgba(173, 169, 169, 0.347);
}
