@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  margin: 0px !important;
}

/* NAVBAR STYLES */

nav {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 9999;
  flex-direction: row;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  justify-content: space-between;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 3px 10px 0 rgba(0, 0, 0, 0.08); */
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  max-height: 110px;
  padding: 0.8rem 2rem 0.8rem;
  margin-left: 17rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 3rem 15rem 0px 0px;
}

nav ul li {
  padding: 7px 10px;
}

nav ul li :hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* navbar logo scroll style */
figure {
  overflow: hidden;
  max-height: 65px;
}

.heading,
h2,
h1 {
  font-family: "Open Sans", sans-serif, "google";
  font-size: 38px;
  font-weight: 100;
  font-style: normal;
}
.home-header {
  display: flex;
  flex-direction: column;
  height: 40rem;
  animation: backgroundAni 10s infinite alternate;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 100;
}

/* BANNER STYLES */

.banner {
  display: flex;
  margin-top: 20rem;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.r-btn {
  width: 8rem;
  padding: 10px;
  font-size: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
}

.r-btn:hover {
  color: rgb(54, 53, 53);
  background-color: white;
}

.banner > h1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif, "google";
}

.banner > h4 {
  font-size: 1.5em;
}

@keyframes backgroundAni {
  0% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/if4b8e310c9186762/version/1475314443/image.jpg);
    opacity: 8;
  }
  25% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/ic500d6468ab5dbb3/version/1475314444/image.jpg);
    opacity: 9;
  }

  50% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/i2eaa02dad2b68d17/version/1475314445/image.jpg);
    opacity: 8;
  }
  75% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/i2bedd7a880b5eabe/version/1475314445/image.jpg);
    opacity: 9;
  }

  100% {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/if4b8e310c9186762/version/1475314443/image.jpg);
    opacity: 8;
  }
}
/* MAIN STYLES */

main > .one {
  line-height: 1.7em;
  display: flex;
  padding: 0px 20rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HOME STYLES */

.home-one {
  margin-top: 20rem;
  text-align: center;
}

.sec-one-text {
  display: flex;
  flex-direction: column;
}
.sec-one-text .sec-one-img {
  margin: 8rem 5rem 3rem 10rem;
  width: 27rem;
}

main :hover .sec-one-img {
  animation: Up 6s forwards;
  animation-direction: alternate;
  z-index: -1;
}

@keyframes Up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50px);
  }
}

.sub-sec-robot {
  display: flex;
  margin: 15rem 3rem 0px 5rem;
  padding: 0px 5.5rem;
}

.sub-sec-robot > .robot {
  display: flex;
  flex-direction: column;
  z-index: -1;
  padding: 0rem 3rem 0rem 4rem;
  text-align: justify;
}

.robot > .robot-text {
  margin: 8rem 0rem 0rem 0rem;
  text-align: start;
}

.phone {
  display: flex;
}

main:hover .sub-sec-robot > .phone > .phone-img {
  animation: shake 3s forwards;
  z-index: -2;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

.sub-sec-robot > .robot > .robot-text > .robot-img {
  width: 28rem;
}

main :hover .robot > .robot-text > .robot-img {
  animation: side 6s forwards;
  animation-direction: alternate;
  z-index: 1;
}

@keyframes side {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-250px);
  }
}

.sub-sec {
  display: flex;
  text-align: start;
  padding: 10rem 0px;
  word-wrap: break-word;
  flex-direction: column;
}

.sub-div {
  display: flex;
  color: #949494;
}

.sub-line {
  width: 10px;
  height: 8rem;
  margin-right: 3rem;
  background: linear-gradient(to bottom, #8781bd 0, #46aed7 100%);
}

.vert-line {
  width: 10px;
  height: 8rem;
  margin-top: 1.1rem;
  margin-right: 3rem;
  background: linear-gradient(to bottom, #8781bd 0, #46aed7 100%);
}

.icon-btn {
  color: #0d557d;
  font-size: 11px;
  text-decoration: none;
}

.icon-div {
  display: flex;
  margin: 0px 5rem;
  color: #949494;
  text-align: justify;
}

.icon {
  width: 14rem;
  padding: 10px;
  margin-left: 3rem;
  text-align: center;
  justify-content: space-between;
}

.icon:hover img {
  animation: iconSlide 8s ease alternate;
}

@keyframes iconSlide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

.icon > a {
  display: inline-block;
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  color: #8781bd;
}

.two {
  display: flex;
  width: 100%;
  color: white;
  height: 30rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/ibbb5eed4c2fce728/version/1475333374/image.jpg);
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 4rem 0px;
  margin: 8rem 0px;
}

.three-text {
  width: 33%;
}

.three > .img {
  width: 33%;
  height: 12rem;
  display: flex;
  flex-direction: row;
}

.three > .img > div > a {
  display: flex;
}

.facebook {
  margin-left: 2rem;
}

.twitter {
  position: absolute;
  margin-top: 6.5rem;
  right: 35rem;
}

.google {
  position: absolute;
  right: 25rem;
  margin-top: 2rem;
}

.linkedin {
  position: absolute;
  right: 16rem;
}

.facebook :hover,
.twitter:hover,
.linkedin:hover,
.google:hover {
  animation: shaken 0.5s ease infinite;
  z-index: -1;
}

@keyframes shaken {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.vert-sub {
  display: flex;
  flex-direction: row;
}

.vert-sub > .vert-line {
  width: 6px;
  height: 55px;
}

.vert-sub > p {
  color: #949494;
  font-size: 14px;
  margin-right: 3rem;
}

.scrolled {
  background-color: white;
  padding-bottom: 1.1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* .image-style {
  position: absolute;
  overflow: visible;
  display: flex;
  bottom: 23px;
  justify-content: center;
  align-items: center;
} */

/* Services Styles */
.who-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 42rem;
  background-image: linear-gradient(
    135deg,
    #3a7ca5 0,
    #6a5d95 68%,
    #6a5d95 100%
  );
}

.who-ban {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17rem 20rem;
}

.who-text {
  line-height: 1.5em;
}

.who-text > p > a {
  font-size: 0.8em;
  color: #8781bd;
  text-decoration: none;
}

.who-text > p > a,
.service-icon > div > h3 :hover {
  color: #0e87eb;
  transition: color 0.3s ease-in;
}

.who-text > h1 > hr {
  width: 2.5rem;
  height: 3px;
  margin-right: 30rem;
  background-color: white;
}

.who-ban > .ban-img > img {
  width: 30rem;
  margin-top: -2rem;
  transition: transform 0.5s ease-in-out;
}

.services-two {
  margin-top: 22rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.services-two > .statements > div > h2 > span {
  color: purple;
  margin-right: 1.5rem;
}

.statements > div > h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 38px;
  color: #28303a;
}

.statements {
  margin-left: 20rem;
  text-align: justify;
}

.statements > .div {
  margin-top: 5rem;
}

.intro-p {
  margin-left: 24rem;
  color: #28303a;
}

.services-two > .statements > div > p {
  text-align: justify;
  white-space: pre-line;
  margin-left: 4rem;
  color: #28303a;
  font-family: "Open Sans", sans-serif, "google";
  font-size: 16px;
  line-height: 1.5em;
}

.ser-sub-img {
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
  margin-top: 3rem;
}

.ser-sub-img > .service-icon > img {
  width: 2.8rem;
  height: 2.5rem;
}

.service-icon {
  display: flex;
}

.service-icon > div {
  margin: 0px 0px 2rem 2rem;
  padding-right: 25rem;
}

.service-icon > div > h3 {
  font-family: "Open Sans", sans-serif, "google";
  font-size: 28px;
  font-weight: 100 !important;
  margin-top: 0px;
  color: #8781bd;
  text-decoration: none;
}

.service-icon > div > h3 > a {
  color: #8781bd;
  text-decoration: none;
}

.service-icon > div > p {
  color: #28303a;
}

.ser-three {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #307a96 0, #4d6482 50%, #5e5a85 100%);
}

.ser-three > p,
.ser-three > .directors > .directors-info > .dir-text > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
}

.boardod > .hr {
  width: 18rem;
  height: 5rem;
  margin-top: 2.7rem;
}

.board {
  color: white;
  padding: 0px 2rem;
}
.directors,
.boardod {
  display: flex;
}

.boardod {
  display: flex;
}

.dir-text {
  width: 20rem;
  height: 10rem;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
}

.dir-text > small {
  word-spacing: 5px;
  color: rgba(240, 128, 240, 0.764);
}

.dir-text > hr {
  width: 1.5rem;
  height: 3px;
  margin-top: 1.2rem;
  color: white;
}

.dir-text > span {
  color: white;
  font-size: 23px;
}

.complist-one {
  display: flex;
  padding: 0px 15rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.complist-one > div {
  width: 31.99%;
  margin: 2rem;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 13px;
}

.complist-one > div > img {
  width: 100%;
  filter: grayscale(100%);
}

.complist-one > div > img:hover {
  filter: none;
}

.services-four > .ser-four > .complist-one > div > .first,
.last {
  margin-bottom: 6.3rem;
}

.services-four {
  padding: 3rem;
}

.services-four > h2 {
  margin-top: 10rem;
  text-align: center;
}

.ser-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ser-four-last {
  margin: 8rem 0px;
  text-align: center;
}

.ser-four-last > button {
  border: 1px solid #ad7ac1;
}

.ser-four-last > h2,
.ser-four-last > button {
  color: #ad7ac1;
}

.four-hr {
  height: 2px;
  background-color: rgba(173, 169, 169, 0.347);
}

/* What we do styles */
.who-ban > .ban-img > .what-we-do-img:hover {
  animation: slideUp 10s alternate;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}

.sec-one-text > .what-we-do-img {
  display: flex;
  margin: 7rem 0rem 7rem 3rem;
  background-color: red;
}

.img1 {
  width: 25%;
  position: absolute;
  right: 48%;
  margin-top: 2rem;
}

.img2 {
  z-index: 1;
  margin: 0px 10rem 0px 10rem;
  position: absolute;
}

.img3 {
  width: 25%;
  position: absolute;
  margin-left: 24.5%;
  margin-top: 2rem;
  position: absolute;
}

.tanqnia {
  color: #28303a;
  text-align: center;
  margin: 5rem 0px;
}

.we-do-sub > .sub-line {
  height: 13rem;
  margin-top: 1.1rem;
}

.we-do-p {
  margin-top: 20px;
  color: #28303a;
}

.we-sec {
  background: #fafafb;
  border-bottom: 1px solid #e2e4e8cf;
}
.we-three > .three-last {
  margin-bottom: 15rem;
}

.we-three {
  text-align: center;
}

.we-three > div > p {
  margin: 5rem 0px;
}

.we-three > div > p > img {
  margin-top: 4rem;
}

.three-last {
  text-align: justify;
  margin: 12px 20rem;
}

.three-last > .tanqnia {
  text-align: justify;
  margin: 0rem 0px !important;
}

.three-last > .sub-div > .vert-line {
  width: 3px;
  height: 3rem;
}

/* news styles */

.news-header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 42rem;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/ibbb5eed4c2fce728/version/1475333374/image.jpg);
}

.news {
  width: 100%;
  padding: 5rem;
  height: fit-content;
  margin-top: 5rem;
  color: #28303a;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
  overflow: hidden;
  background: #fdfdfd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s !important;
}

.news > h2 {
  font-size: 30px;
  color: #3e88be;
  text-align: center;
  line-height: 2.5rem;
}

time {
  color: #8781bd;
  font-size: 12px;
  margin-left: 48.5rem;
}

.social > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  background-color: #0d557d;
}

.social > a > i:hover {
  transition: all 2s ease-in-out;
  transform: scale(1.2);
}

.news > span {
  color: #8781bd;
  display: inline-block;
  /* position: absolute; */
  margin-top: 2.5rem;
}

.contact-header {
  display: flex;
  flex-direction: column;
}

.contact-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s828439b49265f3e4/backgroundarea/if4b8e310c9186762/version/1475314443/image.jpg);
}

.contact-one {
  margin-top: 20rem;
  display: flex;
  padding: 0px 20rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-top: 2rem;
}

aside {
  /* display: flex; */
  width: 100%;
  height: fit-content;
  color: rgba(255, 255, 255, 0.318);
  background: linear-gradient(to bottom, #6a5c95 0, #397ca5 100%);
}

.aside.sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-image > div > img {
  display: inline;
  max-width: 100%;
  margin-top: -50px;
  vertical-align: top;
}

.aside-text {
  display: flex;
  /* justify-content: center; */
  text-align: start;
  margin-left: 8rem;
  font-size: 13px;
  font-family: "Merriweather Sans", sans-serif, "google";
  font-size: 13px;
  line-height: 1.75em;
}

.headquaters,
.contact,
.quicklinks {
  /* width: 15rem; */
  margin: 1.5rem;
  /* background-color: red; */
}

.headquaters {
  margin-bottom: 0;
}

.contact > p > a,
.quicklinks > p > a {
  color: rgba(255, 255, 255, 0.318);
  text-decoration: none;
}

hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.318);
}

.linkin-share > a {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: relative;
  margin: 4.8px;
  border-radius: 10px;
  text-decoration: none !important;
  background-color: whitesmoke;
}

.copy {
  display: flex;
  font-size: 13px;
  margin-left: 20rem;
  margin-top: 11rem;
  padding-bottom: 2rem;
}

.powered {
  margin-left: 35rem;
}

footer {
  display: block;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 5rem;
  margin-bottom: 0px;
  position: relative;
  /* padding: 2rem 25px; */
  z-index: 30;
  /* margin-top: 3rem; */
  background-color: rgba(0, 0, 0, 0.1);
}
